.main-content {
    display: inline-flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
}

/* top */
.top {
    background-image: url(../img/BG/img-mission-background.webp);
    height: 700px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.top-koptext {
    display: flex;
    background-color: black;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.top-koptext h2 {
    margin-bottom: 5px;
}

.top-koptext h4 {
    margin-top: 5px;
}

/* Producten in center */
.center {
    max-width: 1000px;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
}

.product-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-row div {
    margin: 10px;
}

.center-koptext {
    margin: 10px;
}

.center img {
    display: flex;
    height: 200px;
    width: 300px;
}

/* Bottem Box's */
.bottem {
    background-image: url(../img/BG/img-locations-background.webp);
    min-height: 500px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.bottem-koptext {
    display: flex;
    justify-content: center;
}

.bottem h2 {
    text-align: center;
}

.bottem-boxs {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    opacity: 1;
    flex-wrap: wrap;
}

.bottem-box {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    justify-content: space-between;
    margin: 10px;
}